Conversions to Pest of 0-repetition ABNF rules fail

Some ABNF rules, such as the `path-empty` rule defined in [RFC3896§3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3), resolve to the empty string via repetitions of exactly `0` occurrences:

```abnf
path-empty    = 0<pchar>
```

Alas, repetitions of exactly `0` occurrences [are (currently) invalid in pest](https://github.com/pest-parser/pest/blob/525ba7b3a2e7bcb79d6ddea45ad9c3f978c5686f/meta/src/parser.rs#L385-L394).

~~Perhaps `abnf_to_pest` could check for such a condition, then output an empty property value as described in "A thoughtful introduction to the pest parser" under [Writing the grammar](https://pest.rs/book/examples/ini.html#writing-the-grammar):~~

> Section names and property keys _must not_ be empty, but property values _may_ be empty (as in the line `ip=` above).

*Edit*: Realised that the above refers to the sample INI format being passed in that example, not the grammar of Pest itself.  I guess support for 0-repetitions will be required in Pest?

Yeah, we could make that work. I'm sure there's a way to ask pest to match the empty string